# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONNEMENTS
# =========================
.venv/
venv/

# =========================
# GIT
# =========================
.git/

# =========================
# DATA / TRAINING (TRÈS LOURD)
# =========================
data/
datasets/
experiments/
notebooks/
tests/

# =========================
# MLOPS / TRACKING
# =========================
mlruns/
.mlflow/

# =========================
# DVC
# =========================
.dvc/
.dvcignore

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# STREAMLIT (si présent localement)
# =========================
.streamlit/

# =========================
# LOGS
# =========================
*.log