# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
mlflow-env/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
# On autorise tous les fichiers .dvc pour le versioning de données
!*.dvc

# MLflow et logs
mlruns/
mlflow.db
experiments/
*.log
.DS_Store

# Modèles
models/*.pkl
models/model_production.json

# VS Code et autres IDE
.vscode/
.idea/

# DVC
.dvc/
.dvcignore